:root{
    --app-color:rgb(13,15,25);
    --nav-color:rgb(35,27,46);
}
.main9-control {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.song{
    cursor:pointer;
}
@keyframes inform {
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}