*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    cursor:inherit;
}
body{
    background-color:var(--app-color);
}
.app{
    background-color:var(--app-color);
}
.slick-prev {
   
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    border-radius: 50%;
    outline: none;
    border: none;
    padding: 10px 10px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    z-index: 2;
    text-align: center;
    display: flex;
  
}
.slick-next{
    position:absolute;
    top:50%;
    right:0%;
    transform:translateY(-50%);
    border-radius:50%;
    outline: none;
    border:none;
    padding:10px 10px ;
    align-items:center;
    text-align:center;
    display:flex;
    cursor: pointer;
    justify-content:center;
  }
.fied{
    position:fixed;
    top:0px;
    left:0px;
    z-index:2;
}
.menu-list{
    width:240px;
    background-color:var(--nav-color);
    z-index:10;
}
.menu-title{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:20px;
}
/*thuoc tinh color trong nay ko quan trong*/
.menu-title h2{
    background-image: linear-gradient(to right top ,rgb(0,157, 220),rgb(244, 132,23),rgb(238,43,116));
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:2rem;
    font-weight:600;
}
.menu-title h4 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 3px;
}
.menu-list-item1{
    border-bottom:  2px solid #666;
}
.menu-list-item1 li{
    cursor:pointer;
}
a{
    text-decoration: none;
}
li a{
    display: flex;
    align-items: center;
    margin: 0 0 0 30px  
}
.menu-list-item1 li a {
    padding: 10px 10px;
}
.menu-list-item1 li a span {
    padding-right: 10px;
    color:#fff;
}
.menu-list-item1 li a span, p {
    color: #fff;
}
.menu-list-item1 li a p {
    font-weight: 600;
}
ul.menu-list-item2 {
    height: 200px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width:5px ;
    background-color:lightgrey;
}
::-webkit-scrollbar-thumb{
    background-color:black;
    border-radius: 5px;
}
/* ::-webkit-scrollbar-button{
    background-color: #ccc;
    color:#000;
} */
.menu-list-item2 li a {
    padding: 10px 10px;
}
.menu-list-item2 li a span {
    padding-right: 10px;
    color: #fff;
}
.menu-list-item2 li a p {
    font-size: 1rem;
    font-weight: 600;
}
.p {

    width: 45px;
    height: 20px;
    background-color: red;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
    line-height: 20px;
   
}
.form {
    background-color: rgb(114,0,161);
    padding: 20px 20px;
    align-items: center;
    text-align: center;
    margin: 5px 15px 15px 15px;
    border-radius: 5px;
}
.form p {
    line-height: 1.5rem;
}
form button{
    outline: none;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    cursor: pointer;
    margin-top: 10px;
    
}
.main-list2{
    position:fixed;
    top:0;
    z-index:5;
    width:1062px;
}
.div{
    width:100%;
    height:70px;
    align-items: center;
    text-align: center;
    display:flex;
    justify-content:space-between;
    background-color:var(--nav-color);
    z-index: 1;
}
.main-list2-item1 {
    display:flex;
    z-index: 5;
}
.icon{
    display: flex;
    cursor: pointer;
}
.main-list2 span {
    color: #fff;
}
.icon1 {
    margin-right: 10px;
}
.icon1:hover{
    opacity: 0.8;
}
.icon2:hover{
    opacity: 0.8;
}
.input{
    position:relative;
    width:450px;
    height:30px;
    border-radius:20px;
    padding-left:10px;
    margin-left:15px;
    border:1px solid #fff;
}
.input input[type="text"]{
width: 400px;
height: 30px;
margin-left: 30px;
border: none;
background-color: transparent;
outline: none;
font-size: 1.05rem;
}
.input input[type="text"]::placeholder{
    color:#fff;
    font-size:1.02rem
}
.icon-search{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.navbar-icon{
    display:flex;
    align-items:center;
    margin-right:20px;
}
.a-title {
    position: relative;
}
.navbar-icon .span11,.span12,.span13{
   padding:13px 13px;
    border-radius: 50%;
    background-color: rgb(47,39,57);
    cursor: pointer;
}
.span11:hover{
    opacity: 0.7;
}
.span12:hover{
    opacity: 0.7;
}
.span13:hover{
    opacity: 0.7;
}
.span12{
    margin:0 10px;
}
.span13{
    margin-right:10px;
}
.navbar-icon img{
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.main-img {
    margin: 100px 40px 0 25px;
}
.imgg{
    width:100%;
    z-index:10;
}
.imgg img{
    width:100%;
    object-fit: cover;
    border-radius: 10px;
    z-index: 10;
}
.main9 {
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 100px;
    background-color: rgb(23,15,35);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-top: 1px solid #fff;
    z-index: 5;
}

.main9-list1 {
    display: flex;
    align-items: center;
    text-align: center;
    width: 400px;
}
.main9-img {
    width: 60px;
}
.main9-list1 img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 20px red;
}
.song1 {
    margin: 10px 10px 5px 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}
.sing {
    color: #fff;
}
.main9 .icon-heart {
    color: #fff;
    padding-bottom: 10px;
    cursor: pointer;
}
.main9-list1 span {
    color: #fff;
}
.icon-heart1 {
    padding-bottom: 10px;
    margin-left: 10px;
}
.input-music {
    width: 250px;
    height: 4px;
    outline: none;
    border: none;
    margin: 0 10px;
  
}
.main9-icon{
    display:flex;
    justify-content:space-between;
    margin-top:15px;
    cursor: pointer;
    align-items:center;
}
.main9-icon span {
    color: #fff;
}
.icon-play {
    padding: 7px 7px;
    border-radius: 50%;
    border: 1px solid plum;
    font-size: 1rem;
    cursor: pointer;
}
.main9-list3 {
    display: flex;
    align-items: center;
    margin-right: 40px;
}
button.button1 {
   
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.main9-list3 span {
    color: #fff;
    cursor: pointer;
}
.button1:hover{
    background-color:pink

}
.button2:hover{
    background-color:pink

}
.icon-valume{
    padding: 7px 7px;
    margin: 0 10px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.button2 {
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 1.2rem;
    cursor: pointer;
    margin-right: 10px;
}
.main-list3 {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
}
.main-list4 {
    position: relative;
    margin: 20px 40px;
    min-height: 1000px;
}
.main-list4-item {
    position: relative;
}
.main-list4-img{
    width:100%;
    cursor: pointer;
    overflow: hidden;
    z-index: -1;
}
.main-list4-img img{
    display:block;
    width:100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.5s linear;
}
.main-list4-item:hover img{
    transform:scale(1.1) ;
}
/*mang mau tim bao trum hinh*/
.overflow{
    display:flex;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:100%;
    cursor: pointer;
    align-items:center;
    justify-content:center;
    background-color:rgba(41,21,71,0.8);
    z-index:1;
    opacity:0;
    border-radius: 10px;
}
.overflow .span1, .span3 {
    color: #fff;
    font-size: 2rem;
}
.overflow .span2{
    color:#fff;
    font-size:2rem;
    margin:0 20px;
    padding:10px 10px ;
    border-radius: 50%;
    border:1px solid #fff;
}
.p1{
    text-align: center;
    display: -webkit-box;
    font-size: 1.2rem;
    line-height: 1rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-top: 10px;
    overflow: hidden;
}
.p2 {
    display: -webkit-box;
    font-size: 1rem;
    line-height: 1.3rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 10px;
}
.main-list4-item:hover .overflow{
    opacity: 1; 
  }

.list2{
    margin: 80px 30px 100px 0px;
    display:none;
}
.main10 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
}
.main10 p:nth-child(1){
padding: 7px 7px;
background-color: yellow;
border-radius: 10px;
color: black;
}
.main10 p:nth-child(2) {
    margin: 0 20px;
    color: #fff;
}
.main10-avata {
    width: 120px;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.main10-avata img {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px 0 10px 0;
}
.main10-title {
    text-align: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 20px;
}
.ul {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    background-color: rgb(31,52,97);
    align-items: center;
    list-style: none;
    cursor: pointer;
    margin-top: 60px;
    margin-bottom: 50px;
}
.ul li {
    padding: 10px 15px;
    color: #fff;
}
.icon-left1{
    display:none;
}
.icon-right1{
    display:none;
}
.list-music2,.list-music3,.list-music3,.list-music4,.list-music5, .list-music6,.list-music7
{
    display:none;
}
/*css cho viec chon 1 phan tu */
.include{
    background-color:rgb(48,48,48);
}
.li-one{
    background-color:#5c6562;
}
.background {
    position: absolute;
    left: -590px;
    background-color: rgb(25,47,96);
    border-radius: 20px;
    display:none;
}
.background-title {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;
}
.background-title h2{
    color:#fff;
    font-size:2rem;
}
.background-title span{
    color:#fff;
    font-size: 1.8rem;
}
.background-color {
    max-width: 750px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px 20px 20px;
}
.color{
    width:18%;
}
.colors {
    width: 100%;
    height: 120px;
    background-color: rgb(35,27,46);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #666;
    position: relative;
    display: flex;
}

.color-like1 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}

.color-love1 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.mau {
    margin-top: 15px;
  
}
.red {
    width: 100%;
    height: 120px;
    background-color: rgb(49,49,49);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid #666;
}
.color-like2 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.color-love2 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.green {
    width: 100%;
    height: 120px;
    background-color: rgb(5,26,79);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid #666;
}
.color-like3 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.color-love3 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.yellow {
    width: 100%;
    height: 120px;
    background-color: rgb(43,99,83);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid #666;
}
.color-like4 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.color-love4 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.blue {
    width: 100%;
    height: 120px;
    background-color: rgb(144,48,52);
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid #666;
}
.color-like5 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.color-love5 {
    width: 70px;
    height: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    margin-bottom: 5px;
}
.music{
    animation: inform 10s infinite linear;
}
.setting {
    position: absolute;
    width: 240px;
    background-color: rgb(67,34,117);
    border-radius: 10px;
    right: 0;
    top: 70px;
    display:none;
}

.setting > div {
    display: flex;
    align-items: center;
    padding: 10px 10px;
}
.setting span {
    margin-right: 10px;
}